html,
body {
  min-width: 320px;
  font-family: $font-family-base;
  font-size: $fsz-base;
  font-weight: normal;
  color: #000;
  box-sizing: border-box;
  background-color: #ffffff;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: $font-family-base;
  font-weight: 200;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;

  &::first-letter {
    font-size: 70px;
  }

  @include respond(tablet) {
    font-size: 40px;
  }

  @include respond(mobile) {
    font-size: 32px;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: $bp-xlarge;
  position: relative;
  margin: 0 auto;
  padding: 0 $indent;
  text-align: center;
  @include clearfix;
}
