@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansProRegular.eot");
  src: url("../fonts/AgoraSansProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProRegular.woff") format("woff"),
  url("../fonts/AgoraSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansProBold.eot");
  src: url("../fonts/AgoraSansProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProBold.woff") format("woff"),
  url("../fonts/AgoraSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansProLight.eot");
  src: url("../fonts/AgoraSansProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProLight.woff") format("woff"),
  url("../fonts/AgoraSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansProThin.eot");
  src: url("../fonts/AgoraSansProThin.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProThin.woff") format("woff"),
  url("../fonts/AgoraSansProThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

/*

@font-face {
  font-family: "AgoraSansProRegular";
  src: url("../fonts/AgoraSansProRegular.eot");
  src: url("../fonts/AgoraSansProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProRegular.woff") format("woff"),
  url("../fonts/AgoraSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AgoraSansProBold";
  src: url("../fonts/AgoraSansProBold.eot");
  src: url("../fonts/AgoraSansProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProBold.woff") format("woff"),
  url("../fonts/AgoraSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AgoraSansProLight";
  src: url("../fonts/AgoraSansProLight.eot");
  src: url("../fonts/AgoraSansProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProLight.woff") format("woff"),
  url("../fonts/AgoraSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AgoraSansProThin";
  src: url("../fonts/AgoraSansProThin.eot");
  src: url("../fonts/AgoraSansProThin.eot?#iefix")format("embedded-opentype"),
  url("../fonts/AgoraSansProThin.woff") format("woff"),
  url("../fonts/AgoraSansProThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

 */