.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0 10px 20px;
  padding: 10px 40px;
  font-size: $fsz-btn;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-secondary;
  border: none;
  border-radius: $brd-rad;
  outline: none;

  &:hover {
    background-color: darken($color-secondary, 8%);
  }

  &:active {
    background-color: darken($color-secondary, 15%);
  }

  &--transparent {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;

    &:hover {
      color: #fff;
      border-color: darken($color-secondary, 8%);
    }

    &:active {
      color: #fff;
      border-color: darken($color-secondary, 15%);
    }
  }
}