.implementer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;

  &:hover,
  &:active {
    color: $color-secondary;
  }

  &:active {
    opacity: 0.7;
  }

  &__avatar {
    width: 158px;
    height: 158px;
    flex-shrink: 0;
    margin-right: 30px;
    border-radius: 50%;
    background-color: #333;
    object-fit: cover;
  }

  &__desc {
    text-align: left;

    span {
      display: block;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__prof {
    font-size: 18px;
    font-weight: 300;
  }
}