.main-banner {
  background: #fff url('../img/bg-banner.jpg') center bottom no-repeat;
  background-size: cover;

  .container {
    max-height: 100vh;
    padding-top: 40px;
    padding-bottom: 245px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 65px;
    font-size: 23px;
    text-align: center;

    @include respond(mobile-small) {
      font-size: $fsz-base;
      margin-bottom: 40px;
    }
  }
}