.main-nav{
  position: relative;

  &__toggler {
    position: absolute;
    top: -45px;
    left: 20px;
    width: 25px;
    height: 30px;
    background-color: transparent;
    border: none;

    @include respond(tablet-small) {
      top: -55px;
      left: 0;
    }

    span {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      margin-top: -1px;
      height: 2px;
      //transform: translateY(-50%);
      background: #000;
      transition: background-color .3s .5s;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform-origin: 50% 50%;
        transition: top .3s .3s;
      }

      &::before {
        top: 6px;
      }

      &::after {
        top: -6px;
      }

    }


    &:hover {
      span {
        &::before {
          top: 8px;
        }

        &::after {
          top: -8px;
        }
      }
    }

    &--close.main-nav__toggler {
      span {
        background-color: transparent;
        //background: 0 0;
        transition: background-color .3s, transform .3s .5s;

        &::before,
        &::after {
          top: 0;
          transition: top .3s,transform .3s .5s,-webkit-transform .3s .5s;
        }

        &::before {
          transform: rotate3d(0,0,1,45deg);
        }

        &::after {
          transform: rotate3d(0,0,1,-45deg);
        }
      }

      &:hover {
        span {
          transform: rotate3d(0,0,1,-90deg);
          transition: transform .3s .5s;

/* Another animated hover for cross toggler

          &::before {
            transform: rotate3d(0,0,1,-45deg);
            transition: transform .3s .5s;
          }

          &::after {
            transform: rotate3d(0,0,1,45deg);
            transition: transform .3s .5s;
          }
*/
        }
      }
    }

  }

  &__list {
    @include ul-clear;

    @include respond(tablet-small) {
      position: absolute;
      left: 0;
      z-index: 2;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

  }

  &__item {
    background-color: rgba($color-main, 0.4);
    border-bottom: 2px solid $color-secondary;
    flex-grow: 1;

    @include respond(tablet-small) {
      border-bottom: 1px solid $color-secondary;
    }

    &:hover {
      background-color: $color-main;
    }

    &:active {
      background-color: rgba($color-main, $act-opacity);
    }

    a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000;

    }

    &--active {
      background-color: $color-secondary;

      &:hover {
        background-color: $color-secondary;
      }
      
      a {
        color: #fff;
      }
    }
  }

}