.page-header {
  position: relative;
  background-color: #fff;
  background-color: cyan;
  min-height: 80px;
  @include clearfix;

  @include respond(mobile) {
      background-color: green;
  }

  @include respond(tablet) {
    background-color: yellow;
  }

  @include respond(desktop) {
    background-color: red;
  }

  @include respond(desktop-all) {
    background-color: purple;
  }

}
