.slider {
  min-height: 450px;
  position: relative;

  &__content-wrap {
    position: relative;
    margin-bottom: 20px;
    min-height: 390px;
    overflow: hidden;
  }

  &__content {
    @include ul-clear;
    display: flex;
    position: relative;
    transition: transform .5s;
    will-change: transform;
    transform: translateX(0);
  }

  &__item {
    display: inline-block;
    vertical-align: baseline;
    flex: 0 0 100%;
    box-sizing: border-box;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 200;
  }


  &__controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    //z-index: 20;
    text-align: center;
    font-size: 0;

    i {
      display: inline-block;
      vertical-align: top;
      width: 12px;
      height: 12px;
      margin: 0 5px;
      border-radius: 50%;
      background-color: #333;
      border: 2px solid #333;

      &.slider__control--active {
        background-color: #ee3643;
      }
    }
  }

  &--testimonials {
    .slider__content {
      @include respond(tablet-small) {
        min-height: 410px;
      }
    }
/*
    .slider__controls {
      display: none;
    }
*/
    .slider__arrows {
      margin-bottom: 50px;

      @include respond(tablet) {
        margin-bottom: 110px;
      }
    }

    .slider__arrow {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.8s;
      will-change: opacity;

      &::before,
      &::after {
        text-decoration: underline;
      }

      &--prev {
        &::before {
          content: "←";
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          text-decoration: none;
        }
      }

      &--next {
        &::after {
          content: "→";
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
          text-decoration: none;
        }
      }

      &:hover,
      &:active {
        text-decoration: underline;

        &::before,
        &::after {
          text-decoration: none !important;
          color: $color-secondary;
        }
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

}