.submenu {
  @include ul-clear;
  display: flex;
  justify-content: space-between;

  @media (min-width: 470px) {
    display: block;
  }

  &__item {
    margin-bottom: 10px;

    a {
      color: #000;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}